---
import pkg from '@prisma/client'

import MainLayout from '../layouts/main.astro'
import ListCommitsByDay from '../components/ListCommitsByDay.astro'
import { getStudentSummary } from '../github'
import * as db from '../../prisma/db'
import { createPivotTable, flip  } from '../utils'

const { PrismaClient } = pkg


 const prisma = new PrismaClient()
  const commits = await db.getCommits(prisma)

  const students = flip(commits)

  const studentSummary = getStudentSummary(students)
  let pivotReposStudents = createPivotTable(students, 'repo_name')
  let pivotDaysStudents = createPivotTable(students, 'created_on')
  const uniqueNames = students.map((student) => student.name)

  //  {
  //   uniqueNames,
  //   streamed: {
  //     studentSummary,
  //     pivotReposStudents,
  //     pivotDaysStudents,
  //   },
  // }

---

<MainLayout title={import.meta.env.GITHUB_ORG}>
 <div>
  {uniqueNames.map(name => <p>{name}</p>)}
 </div>
 <ListCommitsByDay studentNames={uniqueNames} pivotTable={pivotDaysStudents} />
</MainLayout>
