---
import pkg from '@prisma/client'

import MainLayout from '../layouts/main.astro'
import ListCommitsByDay from '../components/ListCommitsByDay.astro'
import ListStudents from '../components/ListStudents.astro'
import { getStudentSummary } from '../github'
import * as db from '../../prisma/db'
import { createPivotTable, flip  } from '../utils'

const { PrismaClient } = pkg


 const prisma = new PrismaClient()
  const commits = await db.getCommits(prisma)

  const students = flip(commits)

  const studentSummary = getStudentSummary(students)
  let pivotReposStudents = createPivotTable(students, 'repo_name')
  let pivotDaysStudents = createPivotTable(students, 'created_on')
  const uniqueNames = students.map((student) => student.name)

  //  {
  //   uniqueNames,
  //   streamed: {
  //     studentSummary,
  //     pivotReposStudents,
  //     pivotDaysStudents,
  //   },
  // }

---

<MainLayout title={import.meta.env.GITHUB_ORG}>
  <div class="flex flex-col gap-10 w-fit items-center justify-center mx-auto">
   <ListStudents  studentSummary={studentSummary}  />
   <ListCommitsByDay studentNames={uniqueNames} pivotTable={pivotDaysStudents} />
  </div>
</MainLayout>
