--- 
const {pivotTable, studentNames} = Astro.props 
---

<table class="table-auto border-collapse border border-slate-500">
 <thead>
    <tr class="bg-slate-800">
      <th class="p-2" />
      {studentNames.map(name => <th class="border border-slate-600 align-top px-4 py-2">{name}</th>)}
    </tr>
  </thead>
  <tbody>
    {Object.entries(pivotTable).map(([date, commitsByStudent]) => (
    <tr>
        <td class="border border-slate-600 text-right px-2">{date}</td>
        {studentNames.map(studentName => 
          <td class="border border-slate-600 text-center">
            {commitsByStudent[studentName] || ''}
          </td>)}
    </tr>))}
  </tbody>
</table>
