---
const { title } = Astro.props
---

<html>
  <header>
    <title>{title}</title>
    <link rel="stylesheet" href="/styles/output.css">
    <script src="https://unpkg.com/htmx.org@1.9.4" integrity="sha384-zUfuhFKKZCbHTY6aRR46gxiqszMk5tcHjsVFxnUo8VMus4kHGVdIYVbOYYNlKmHV" crossorigin="anonymous"></script>
  </header>
  <body hx-boost="true">
    <div class="bg-slate-900 text-slate-50 min-h-screen min-w-fit">
      <slot />
    </div>
  </body>
</html>
